body {
  padding: 20px 10px;
}

#page_head {
  position: fixed;
  top: 0px;
  padding-top: 10px;
  background-color: white;
}

#page_data {
  margin-top: 200px;
}

#new_meetup {
  width: 98%;
}

#new_meetup_wrapper {
  font-size: 18px;
}

.header a {
  color: #3232CC;
  font-family: 'Amaranth', Helvetica, Sans Serif;
  font-size: 36px;
  text-decoration: none;
}

.header {
  margin-top: 80px;
}

.meetup {
  background-color: #EEE;
  margin-bottom: 13px;
  padding: 7px;
}

.meetup_name {
  font-size: 18px; 
}

.meetup_time {
  font-size: 14px; 
}

.meetup_timeelapsed {
  font-weight: bold;
  color: green;
}

input {
  border-width: 0px 0px 5px;
  color: #333;
  font-family: 'Amaranth', Helvetica, Sans Serif;
  font-size: 18px;
  padding-left: 5px;
}

input [type="submit"] {
  border: 0;
}

.stop_tag_search {
  margin-bottom: 30px;
  margin-right: 13px;
}

.delete_meetup {
  float: right;
  margin-top: 6px;
}

img {
  float: left;
  margin-top: 6px;
  padding-right: 7px;
}

#fblogin {
  text-align: right;
}
